<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'CaseStudyTabs',
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      visibleCaseStudy: 0,
    };
  },
  methods: {
    goToNext() {
      if (this.visibleCaseStudy >= this.data.case_studies.length - 1) {
        this.visibleCaseStudy = 0;
      } else {
        this.visibleCaseStudy++;
      }
    },
    goToPrev() {
      if (this.visibleCaseStudy === 0) {
        this.visibleCaseStudy = this.data.case_studies.length - 1;
      } else {
        this.visibleCaseStudy--;
      }
    },
    selectNewSlide(index) {
      this.visibleCaseStudy = index;
    },
  },
});
</script>

<template>
  <section
    class="section"
    aria-roledescription="carousel"
    aria-label="Education Case Studies Carousel"
  >
    <SlpContainer class="wrapper">
      <SlpTypography
        v-if="data.header"
        variant="heading2-bold"
        tag="h3"
        class="slp-mb-64"
        >{{ data.header }}</SlpTypography
      >
      <div :class="{ 'cta-container': data.customers_cta }">
        <div ref="scroll" class="logos">
          <button
            v-for="(logo, index) in data.case_studies"
            :key="logo.logo_url"
            type="button"
            :aria-label="`Select ${logo.institution_name} case study`"
            :tabindex="index === visibleCaseStudy ? '-1' : 0"
            class="logo"
            :class="index === visibleCaseStudy ? 'active' : ''"
            :aria-selected="index === visibleCaseStudy"
            @click="selectNewSlide(index)"
          >
            <nuxt-img :src="logo.logo_url" aalt="" aria-label="" />
          </button>
        </div>
        <SlpButton
          v-if="data.customers_cta"
          class="cta"
          href="/customers/"
          variant="tertiary"
          >View more stories <SlpIcon variant="product" name="chevron-lg-right"
        /></SlpButton>
      </div>
      <div class="case-studies">
        <transition name="fade" mode="out-in" tag="div">
          <div :key="visibleCaseStudy" class="case-studies__card">
            <SlpRow
              aria-roledescription="slide"
              :aria-label="`${index} of ${data.case_studies.length}`"
            >
              <SlpColumn :cols="6">
                <nuxt-img
                  v-if="data.case_studies[visibleCaseStudy].quote.img_url"
                  loading="lazy"
                  :src="data.case_studies[visibleCaseStudy].quote.img_url"
                  alt=""
                  class="slide-image"
                />
              </SlpColumn>
              <SlpColumn :cols="6" class="content">
                <figure>
                  <SlpTypography variant="quotes" tag="blockquote">
                    "{{ data.case_studies[visibleCaseStudy].quote.quote_text }}"
                  </SlpTypography>
                  <SlpTypography variant="body3" tag="figcaption">
                    <strong>{{
                      data.case_studies[visibleCaseStudy].quote.author
                    }}</strong>
                    <span>
                      {{
                        data.case_studies[visibleCaseStudy].quote.author_title
                      }}
                    </span>
                  </SlpTypography>
                </figure>
                <SlpButton
                  variant="primary"
                  :href="data.case_studies[visibleCaseStudy].case_study_url"
                  :data-ga-name="
                    data.case_studies[visibleCaseStudy].data_ga_name
                  "
                  :data-ga-location="
                    data.case_studies[visibleCaseStudy].data_ga_location
                  "
                  >Read case study
                  <SlpIcon variant="product" name="chevron-lg-right"
                /></SlpButton>
              </SlpColumn>
            </SlpRow>
          </div>
        </transition>

        <SlpRow class="controls">
          <SlpButton
            variant="icon"
            aria-label="View previous case study"
            @click.native="goToPrev"
          >
            <SlpIcon
              name="chevron-lg-left"
              alt="Chevron Left Icon"
              variant="product"
              hex-color="#171321"
            />
          </SlpButton>
          <div class="controls__pages">
            <div
              v-for="(option, index) in data.case_studies.length"
              :key="option"
              :class="[
                option === visibleCaseStudy + 1
                  ? 'controls__pages-control--active'
                  : '',
                'controls__pages-control',
              ]"
              @click="selectNewSlide(index)"
            ></div>
          </div>
          <SlpButton
            variant="icon"
            aria-label="View next case study"
            @click.native="goToNext"
          >
            <SlpIcon
              name="chevron-lg-right"
              alt="Chevron Right Icon"
              variant="product"
              hex-color="#171321"
            />
          </SlpButton>
        </SlpRow>
      </div>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.section {
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .logos .logo img {
    max-width: 150px;
  }

  .cta {
    margin-bottom: $spacing-16;
    text-align: left;
  }
  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.wrapper {
  padding: $spacing-96 0 $spacing-96 0;

  @media (max-width: $breakpoint-md) {
    padding: $spacing-64 0 $spacing-48 0;
  }
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing-32;
  gap: 24px;
  @media (max-width: $breakpoint-md) {
    overflow-x: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}

.logo {
  flex: 0 0 130px;
  min-height: 85px;
  width: 100%;
  border-bottom: 1px solid transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;

  @media (max-width: $breakpoint-md) {
    flex: 0 0 80px;
    aspect-ratio: 3/2;
    object-fit: contain;
  }

  &:hover {
    border-bottom: 1px solid $color-accent-500;
  }

  &.active {
    border-bottom: 1px solid $color-surface-700;
  }

  img {
    margin-bottom: 4px;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

.case-studies {
  &__card {
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    isolation: isolate;
    background: white;
    will-change: contents;

    @media (max-width: $breakpoint-md) {
      margin: 0 $spacing-16;
    }

    :deep(strong) {
      font-weight: $font-weight-bold;
    }

    .slp-col-md-5,
    .slp-col-md-7 {
      height: 460px;
    }
  }

  .slp-col-md-6 {
    position: relative;
  }

  .slide-image {
    width: 100%;
    min-height: 100%;
    max-height: 460px;
    height: 100%;
    display: block;
    object-fit: cover;

    @media (max-width: $breakpoint-md) {
      aspect-ratio: 1.5/1;
      min-height: 0;
      max-height: 400px;
    }
  }

  .content {
    background: $color-surface-800;
    padding: $spacing-32;
    border-radius: 0 0 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    figcaption {
      margin-top: $spacing-8;
      margin-bottom: $spacing-24;
    }

    span {
      display: block;
    }

    .slp-btn {
      max-width: 200px;
    }

    .slp-icon {
      margin-left: 4px;
    }
  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $spacing-24;

    color: #171321;

    :deep {
      svg,
      path {
        fill: #171321 !important;
        stroke: #171321 !important;
      }
    }

    &__pages {
      display: inherit;

      &-control {
        background: $color-surface-300;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin: 0 $spacing-8;
        cursor: pointer;

        &:hover {
          background: $color-accent-500;
        }

        &--active {
          background: $color-surface-700;
        }
      }
    }
  }
}

//  transition

.fade-leave-active {
  transition: all 0.3s ease-in;
}
.fade-enter-active {
  transition: all 0.5s;
}
.fade-enter {
  opacity: 0;
  transform: translateX(-20px);
}
.fade-leave-to {
  opacity: 0;
  transform: translateX(20px);
}
.fade-leave,
.fade-enter-to {
  opacity: 1;
}
</style>
