<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
  mounted() {
    const observer = new IntersectionObserver(this.updateWidth, {
      rootMargin: '0px',
      threshold: 1,
    });
    const children = Array.from(document.querySelectorAll('.copy-highlight'));
    children.forEach((child) => observer.observe(child));
  },
  methods: {
    updateWidth(entries, observer) {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const element = entry.target;
          element.classList.add('animate');
          observer.unobserve(element);
        }
      });
    },
  },
});
</script>

<template>
  <div class="container" :class="data.variant">
    <SlpTypography variant="display1" tag="h2" class="question">{{
      data.question
    }}</SlpTypography>
    <div class="answers-block">
      <h3
        v-for="(answer, index) in data.answers"
        :key="answer"
        class="copy-highlight"
        :class="{ first: index === 0, odd: index % 2 === 0 }"
        variant="heading2-bold"
      >
        {{ answer }}
      </h3>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.container {
  display: flex;
  margin: 340px 0 240px 0;
  flex-direction: column;
  width: 80%;
  @media (max-width: $breakpoint-lg) {
    margin-top: 120px;
    margin-bottom: 90px;
    width: 100%;
  }

  .question {
    margin-bottom: 240px;
    @media (max-width: $breakpoint-lg) {
      margin-bottom: $spacing-64;
      font-size: 64px;
      line-height: 72px;
    }
    @media (min-width: $breakpoint-lg) {
      font-size: 120px;
      line-height: 120px;
    }
  }
}

.light {
  color: $color-surface-800;

  .copy-highlight {
    background: linear-gradient(267.59deg, #cbb3ff 16.24%, #ffeff1 94.71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

h3.copy-highlight {
  font-weight: 600;
  position: relative;
  font-size: 80px;
  line-height: 80px;
  padding: $spacing-48 0;
  letter-spacing: -0.03em;
  flex-basis: 100%;
  background: linear-gradient(130.92deg, #171321 1.52%, #3e1a99 97.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  @media (max-width: $breakpoint-lg) {
    font-size: 48px;
    line-height: 48px;
    padding: $spacing-16 0;
  }

  &.animate {
    &:after,
    &:before {
      animation: border_anim 1s ease-in forwards;
    }
  }

  &.odd {
    &:before {
      direction: ltr;
      right: 0;
      float: right;
    }
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    border: 1px solid;
    border-radius: 4px;
    background: linear-gradient(
          90deg,
          $color-secondary-200 0%,
          $color-secondary-200 100%
        )
        padding-box,
      linear-gradient(90deg, #e2b6f1 0%, #7759c2 100%) border-box;
    border-image-source: linear-gradient(90deg, #e2b6f1 0%, #7759c2 100%);
  }

  &.first:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    border: 1px solid;
    border-radius: 4px;
    background: linear-gradient(
          90deg,
          $color-secondary-200 0%,
          $color-secondary-200 100%
        )
        padding-box,
      linear-gradient(90deg, #e2b6f1 0%, #7759c2 100%) border-box;
    border-image-source: linear-gradient(90deg, #e2b6f1 0%, #7759c2 100%);
  }
}

@keyframes border_anim {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
</style>
