<script lang="ts">
import Vue from 'vue';
import { getPageMetadata } from '../../common/meta';
import { NextStep } from '../../components/common/index.vue';
import {
  Conduct,
  Careers,
  EventsSchedule,
  LightningHero,
  Party,
  SpeakerSession,
  Section,
  Intro,
} from '../../components/events/index.vue';

export default Vue.extend({
  components: {
    NextStep,
    Conduct,
    Careers,
    EventsSchedule,
    Party,
    LightningHero,
    Intro,
    Section,
    SpeakerSession,
  },
  async asyncData({ $content, params }: any) {
    const content = await $content('events/aws-reinvent', params.slug).fetch();
    return { content };
  },
  head() {
    return getPageMetadata((this as any).content.metadata, this.$route.path);
  },
});
</script>

<template>
  <div>
    <LightningHero :data="content.hero" :dark-mode="false" />
    <Intro :data="content.intro" :side="true" />
    <Section
      style="padding-top: 0"
      :offset-image="-200"
      :data="content.gitlab_booth"
    />
    <party :data="content.party" />
    <SpeakerSession :data="content.speaker_session" />
    <EventsSchedule :data="content.schedule" :has-dark-background="true" />
    <Careers />
    <Conduct />
    <NextStep />
  </div>
</template>
